beautifulsoup4==4.14.2
requests==2.32.5
alive-progress==3.1.5
pandas
polars
matplotlib
numpy
scikit-learn
seaborn
google-genai
llama-api-client
transformers==4.57.1
# jsonformer==0.12.0
guidance==0.3.0
